<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.daxalfred.demo.Dao.AdminMapper">
    <select id="login" resultType="Admin">
        SELECT * FROM p_admin where username=#{username} AND password=#{password}
    </select>

    <!-- 获取教师数据总量 -->
    <select id="getTeacherTotal" resultType="int">
		SELECT COUNT(*) FROM p_admin
	</select>


    <select id="getTeachers" resultType="admin">
        select * from p_admin limit #{startIndex},#{pageSize}
    </select>

    <select id="getTeacherById" resultType="admin">
        select * from p_admin where ID =#{ID}
    </select>

    <update id="isUpdateTeacherInfo" parameterType="admin">
        UPDATE p_admin SET realname=#{realname}, username=#{username},
			password=#{password}, adminPower=#{adminPower}
		WHERE ID=#{ID}
    </update>

    <insert id="isAddTeacherInfo" parameterType="admin">
        INSERT INTO p_admin VALUES(NULL, #{realname}, #{username}, #{password}, #{adminPower})
    </insert>

    <delete id="isDelTeacherInfo" parameterType="int">
		DELETE FROM p_admin WHERE id=#{ID}
	</delete>

    <select id="getadminName" resultType="string">
        select realname  from p_admin where ID=#{uid}
    </select>



</mapper>