<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.daxalfred.demo.Dao.StudentMapper">
    <select id="selAll" resultType="int">
        SELECT count(*) from student
    </select>
    <select id="selOne" resultType="int">
        SELECT count(*) from student where username = #{username}
    </select>
    <insert id="insRegister">
        insert into student value(default,#{username},#{password},#{realname},#{gender},#{email},#{birthday} )
    </insert>
    <select id="login" resultType="student">
        SELECT * FROM student WHERE username=#{username} AND password=#{password}
    </select>

    <select id="getinfo" resultType="student">
        SELECT * FROM student WHERE username=#{name}
    </select>

    <update id="updateinfo">
        update student  set email=#{email},realname=#{realname},gender=#{gender},birthday=#{birthday} where username=#{username}
    </update>
</mapper>
