<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.daxalfred.demo.Dao.StudentMapper">
    <select id="selAll" resultType="int">
        SELECT count(*) from student
    </select>
    <select id="selOne" resultType="int">
        SELECT count(*) from student where username = #{username}
    </select>
    <insert id="insRegister">
        insert into student value(default,#{username},#{password},#{realname},#{gender},#{email},#{birthday} )
    </insert>
    <select id="login" resultType="student">
        SELECT * FROM student WHERE username=#{username} AND password=#{password}
    </select>

    <select id="getinfo" resultType="student">
        SELECT * FROM student WHERE username=#{name}
    </select>

    <update id="updateinfo">
        update student  set email=#{email},realname=#{realname},gender=#{gender},birthday=#{birthday} where username=#{username}
    </update>
    <select id="selpass" resultType="int">
        select count(*) from student where username=#{username} and password=#{password}
    </select>
    <update id="updatepwd">
        update student set password=#{password} where username=#{username}
    </update>


    <select id="getStudents" resultType="student">
        SELECT * FROM student limit #{pageStart},#{pageSize}
    </select>

    <select id="getStudentTotal" resultType="int">
        select count(*) from student;
    </select>

    <update id="isUpdateStudent" parameterType="student">
		UPDATE student SET
		realname=#{realname}, username=#{username}, password=#{password},gender=#{gender},email=#{email},birthday=#{birthday}
		WHERE ID=#{ID}
	</update>

    <insert id="isAddStudent" parameterType="student">
		INSERT INTO student VALUES(NULL, #{username}, #{password}, #{reallname}, #{gender},#{email},#{birthday})
	</insert>

    <delete id="isDelStudent" parameterType="int">
		DELETE FROM student WHERE ID=#{ID}
	</delete>


    <select id="getStudentById" resultType="student">
        select * from student where ID=#{ID}
    </select>

    <select id="getStudentName" resultType="string">
        select realname from student where ID=#{uid}
    </select>





</mapper>
